.speech{
    color: black;
    font-size: 17px;
    font-family: Times New Roman;}

.stage-direction{
    color:black;
    font-size: 17px;
    font-family: Times New Roman;
    background-color: darkgray;}

.name{
    color: black;
    font-size: 17px;
    font-family: Times New Roman}

.stage-direction:hover{
    color: cornsilk;
    background-color: rgb(143, 155, 188);
}

.LORDGORING{
    color: deeppink;
}

.SIRROBERTCHILTERN{
    color:maroon;
}