.speech{
    color: black;
    font-size: 17px;
    font-family: Times New Roman;}

.stage-direction{
    color:black;
    font-size: 17px;
    font-family: Times New Roman;
    background-color: darkgray;}

.name{
    color: black;
    font-size: 17px;
    font-family: Times New Roman}

.stage-direction:hover{
    color: cornsilk;
    background-color: rgb(143, 155, 188);
}

.LORDGORING{
    color: deeppink;
}

.SIRROBERTCHILTERN{
    color:darkmagenta;
}
table{
    border: 1px solid black;
    padding: 45px 30px 50px;
    margin: 25px 50px 80px 100px;
    width: 50%;
}
th{
    color: black;
    border: 1px solid black;
    text-align: center;
    background-color:blueviolet;
}
td{
    color:rgb(23, 10, 199) ;
    border: 1px solid black;
    text-align: left;
}
tr:nth-child(even){
    background-color: darkturquoise;
}